<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.execriez.labwarden.Usr-Poll</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/LabWarden/bin/Poll</string>
	</array>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>StartInterval</key>
	<integer>181</integer>
</dict>
</plist>
