<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Location</key>
		<string>Marketing</string>
		<key>Options</key>
		<string>-o printer-is-shared=false -o printer-error-policy=abort-job -o PageSize=A4 -o HPBookletPageSize=A4</string>
		<key>PPDURI</key>
		<string>file://localhost/Library/Printers/PPDs/Contents/Resources/HP Color LaserJet CP2020 Series.gz</string>
		<key>PrinterURI</key>
		<string>lpd://192.168.0.5/</string>
	</dict>
	<key>Name</key>
	<string>Marketing-Laser2020-direct</string>
	<key>Type</key>
	<string>Printer</string>
	<key>UUID</key>
	<string>0461D6BE-3528-45CD-AF31-FC5ECA08E484</string>
</dict>
</plist>
