<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>AppNetworkFixFirefox</string>
	<key>TriggeredBy</key>
	<array>
		<string>AppWillLaunch</string>
		<string>AppDidTerminate</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>410A39A1-9B35-4B08-BA3C-75312A2E5466</string>
</dict>
</plist>
