<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>BlackList</key>
		<array>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com\.apple\.Terminal</string>
				<key>ApplicationName</key>
				<string>Terminal</string>
			</dict>
		</array>
		<key>ExceptionList</key>
		<array>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com\.apple\.print\.PrinterProxy</string>
				<key>ApplicationName</key>
				<string>PrinterProxy</string>
			</dict>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com\.google\.Chrome\.app\..*</string>
				<key>ApplicationName</key>
				<string>.*</string>
			</dict>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com\.citrixonline\.mac\.WebDeploymentApp</string>
				<key>ApplicationName</key>
				<string>Citrix Online Launcher</string>
			</dict>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com\.citrixonline\.GoToMeeting</string>
				<key>ApplicationName</key>
				<string>GoToMeeting.*</string>
			</dict>
		</array>
		<key>OnlyAllowLocalApps</key>
		<true/>
		<key>PathBlackList</key>
		<array>
			<string>~/.*</string>
		</array>
	</dict>
	<key>Name</key>
	<string>AppRestrict</string>
	<key>TriggeredBy</key>
	<array>
		<string>AppWillLaunch</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>9892A90C-E892-4F19-9840-9D90A6CF593B</string>
</dict>
</plist>
