<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>AppHint</key>
		<array>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com.apple.logic10</string>
				<key>IsAdmin</key>
				<false/>
				<key>IsLocalAccount</key>
				<false/>
				<key>IsLocalHome</key>
				<false/>
				<key>MessageContent</key>
				<string>APPNAME works better off network</string>
				<key>MessageTitle</key>
				<string>ON NETWORK</string>
			</dict>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com.adobe.AdobePremierePro</string>
				<key>MessageContent</key>
				<string>Setup your Media Cache File location (Premiere&gt;Preferences&gt;Media)</string>
				<key>MessageTitle</key>
				<string>NOW SET YOUR PREFS</string>
			</dict>
			<dict>
				<key>ApplicationBundleIdentifier</key>
				<string>com.apple.FinalCutPro</string>
				<key>MessageContent</key>
				<string>Final Cut Pro&gt;System Settings...&gt;Scratch Disks</string>
				<key>MessageTitle</key>
				<string>NOW SET YOUR PREFS</string>
			</dict>
		</array>
	</dict>
	<key>Name</key>
	<string>AppShowHints</string>
	<key>TriggeredBy</key>
	<array>
		<string>AppDidLaunch</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>AF0C77B3-E2B3-4B89-AC69-0040D6F8E7E6</string>
</dict>
</plist>
