<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>IdleShutdownInWorkingHours</key>
		<true/>
		<key>IdleShutdownSecs</key>
		<integer>1200</integer>
		<key>LogoutWarningSecs</key>
		<integer>600</integer>
		<key>MaintenanceAgeMaxDays</key>
		<integer>10</integer>
		<key>OpeningHours</key>
		<array>
			<dict>
				<key>CloseTime</key>
				<string></string>
				<key>OpenTime</key>
				<string></string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
			<dict>
				<key>CloseTime</key>
				<string>21:30</string>
				<key>OpenTime</key>
				<string>6:30</string>
			</dict>
		</array>
		<key>SafetyNetMinutes</key>
		<integer>150</integer>
		<key>StrictWorkingHours</key>
		<false/>
		<key>UpdateMethodArguments</key>
		<array>
			<string>file://localhost/usr/local/LabWarden/lib/RadmindUpdate</string>
			<string>192.168.0.3,sha1,0,-I,42000</string>
		</array>
	</dict>
	<key>Name</key>
	<string>Maintenance</string>
	<key>TriggeredBy</key>
	<array>
		<string>LoginWindow</string>
		<string>LoginWindowIdle</string>
		<string>UserAtDesktop</string>
		<string>UserPoll</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>5BD3AB90-C85F-409C-8D03-B09EC59F85BA</string>
</dict>
</plist>
