<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>RequireAdminIBSS</key>
		<false/>
		<key>RequireAdminNetworkChange</key>
		<false/>
		<key>RequireAdminPowerToggle</key>
		<true/>
		<key>WirelessState</key>
		<string>off</string>
	</dict>
	<key>Name</key>
	<string>SystemWirelessSetState</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>42070DA1-E214-4FCB-ADA6-83257239417B</string>
</dict>
</plist>
