<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Path</key>
		<array>
			<string>/usr/local/Updates</string>
		</array>
	</dict>
	<key>Name</key>
	<string>SystemInstallPackageFromFolder</string>
	<key>TriggeredBy</key>
	<array>
		<string>LoginWindowIdle</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>ECB34324-ACA3-4ECA-82E3-C311F2F916CA</string>
</dict>
</plist>
