<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>TimeServer</key>
		<string>time.euro.apple.com</string>
		<key>TimeZone</key>
		<string>Europe/London</string>
	</dict>
	<key>Name</key>
	<string>SystemTimeServer</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>E2D23E17-1968-4DE8-AF49-04B3523739D8</string>
</dict>
</plist>
