<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Groups</key>
		<array>
			<dict>
				<key>Access</key>
				<string>admin</string>
				<key>Name</key>
				<string>dirgroup1</string>
			</dict>
			<dict>
				<key>Access</key>
				<string>interact</string>
				<key>Name</key>
				<string>dirgroup2</string>
			</dict>
		</array>
		<key>LocalUsers</key>
		<array>
			<dict>
				<key>Name</key>
				<string>localuser1</string>
				<key>Privs</key>
				<array>
					<string>all</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>localuser2</string>
				<key>Privs</key>
				<array>
					<string>DeleteFiles</string>
					<string>ControlObserve</string>
					<string>TextMessages</string>
					<string>ShowObserve</string>
					<string>OpenQuitApps</string>
					<string>GenerateReports</string>
					<string>RestartShutDown</string>
					<string>SendFiles</string>
					<string>ChangeSettings</string>
					<string>ObserveOnly</string>
				</array>
			</dict>
		</array>
		<key>Users</key>
		<array>
			<dict>
				<key>Access</key>
				<string>admin</string>
				<key>Name</key>
				<string>diruser1</string>
			</dict>
			<dict>
				<key>Access</key>
				<string>reports</string>
				<key>Name</key>
				<string>diruser4</string>
			</dict>
		</array>
	</dict>
	<key>Name</key>
	<string>SystemRemoteManagement</string>
	<key>TriggeredBy</key>
	<array>
		<string>NetworkUp</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>68F6B110-B3A6-4C0E-B9EF-B96E6A0807AD</string>
</dict>
</plist>
