<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>alldomains</key>
		<true/>
		<key>localhome</key>
		<false/>
		<key>mobile</key>
		<false/>
		<key>mobileconfirm</key>
		<false/>
		<key>preferredserver</key>
		<string></string>
		<key>protocol</key>
		<string>smb</string>
		<key>sharepoint</key>
		<true/>
		<key>useuncpath</key>
		<true/>
	</dict>
	<key>Name</key>
	<string>SystemUserExperience</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>C8C94BB5-4EB6-4C69-8EA8-14C0E0972408</string>
</dict>
</plist>
