<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Path</key>
		<array>
			<string>/Applications/Utilities/Adobe Flash Player Install Manager.app/</string>
			<string>/Library/Application Support/Adobe/Flash Player Install Manager/</string>
			<string>/Library/Internet Plug-Ins/Flash Player.plugin/</string>
			<string>/Library/Internet Plug-Ins/PepperFlashPlayer/</string>
			<string>/Library/LaunchDaemons/com.adobe.fpsaud.plist</string>
			<string>/Library/PreferencePanes/Flash Player.prefPane/</string>
		</array>
	</dict>
	<key>Name</key>
	<string>SystemDeleteFiles</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>FEE16AF3-F766-47E3-BC08-4E72D909EFBC</string>
</dict>
</plist>
