<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>ActiveForDates</key>
		<dict>
			<key>End</key>
			<dict>
				<key>Day</key>
				<integer>3</integer>
				<key>Month</key>
				<integer>9</integer>
				<key>Year</key>
				<integer>2017</integer>
			</dict>
			<key>Start</key>
			<dict>
				<key>Day</key>
				<integer>25</integer>
				<key>Month</key>
				<integer>11</integer>
				<key>Year</key>
				<integer>2016</integer>
			</dict>
		</dict>
		<key>AuditHideUntilAgeSecs</key>
		<integer>604800</integer>
		<key>ClosedDays</key>
		<array>
			<dict>
				<key>End</key>
				<dict>
					<key>Day</key>
					<integer>8</integer>
					<key>Month</key>
					<integer>1</integer>
					<key>Year</key>
					<integer>2017</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>Day</key>
					<integer>23</integer>
					<key>Month</key>
					<integer>12</integer>
					<key>Year</key>
					<integer>2016</integer>
				</dict>
			</dict>
			<dict>
				<key>End</key>
				<dict>
					<key>Day</key>
					<integer>14</integer>
					<key>Month</key>
					<integer>4</integer>
					<key>Year</key>
					<integer>2017</integer>
				</dict>
				<key>Start</key>
				<dict>
					<key>Day</key>
					<integer>14</integer>
					<key>Month</key>
					<integer>4</integer>
					<key>Year</key>
					<integer>2017</integer>
				</dict>
			</dict>
		</array>
		<key>ForceLogoutExceptionGroup</key>
		<array>
			<string>All-Staff</string>
		</array>
		<key>HolidayHours</key>
		<array>
			<dict>
				<key>DateRange</key>
				<array>
					<dict>
						<key>End</key>
						<dict>
							<key>Day</key>
							<integer>6</integer>
							<key>Month</key>
							<integer>11</integer>
							<key>Year</key>
							<integer>2016</integer>
						</dict>
						<key>Start</key>
						<dict>
							<key>Day</key>
							<integer>29</integer>
							<key>Month</key>
							<integer>10</integer>
							<key>Year</key>
							<integer>2016</integer>
						</dict>
					</dict>
					<dict>
						<key>End</key>
						<dict>
							<key>Day</key>
							<integer>22</integer>
							<key>Month</key>
							<integer>1</integer>
							<key>Year</key>
							<integer>2017</integer>
						</dict>
						<key>Start</key>
						<dict>
							<key>Day</key>
							<integer>14</integer>
							<key>Month</key>
							<integer>1</integer>
							<key>Year</key>
							<integer>2017</integer>
						</dict>
					</dict>
				</array>
				<key>Day1</key>
				<dict>
					<key>CloseTime</key>
					<string>16:00</string>
					<key>OpenTime</key>
					<string>8:30</string>
				</dict>
				<key>Day2</key>
				<dict>
					<key>CloseTime</key>
					<string>16:00</string>
					<key>OpenTime</key>
					<string>8:30</string>
				</dict>
				<key>Day3</key>
				<dict>
					<key>CloseTime</key>
					<string>16:00</string>
					<key>OpenTime</key>
					<string>8:30</string>
				</dict>
				<key>Day4</key>
				<dict>
					<key>CloseTime</key>
					<string>16:00</string>
					<key>OpenTime</key>
					<string>8:30</string>
				</dict>
				<key>Day5</key>
				<dict>
					<key>CloseTime</key>
					<string>16:00</string>
					<key>OpenTime</key>
					<string>8:30</string>
				</dict>
				<key>Day6</key>
				<dict>
					<key>CloseTime</key>
					<string></string>
					<key>OpenTime</key>
					<string></string>
				</dict>
				<key>Day7</key>
				<dict>
					<key>CloseTime</key>
					<string></string>
					<key>OpenTime</key>
					<string></string>
				</dict>
			</dict>
		</array>
		<key>LoginEarlySecs</key>
		<integer>3600</integer>
		<key>LogoutEarlySecs</key>
		<integer>600</integer>
		<key>LogoutUserIdleSecs</key>
		<integer>1800</integer>
		<key>LogoutUserOutOfHours</key>
		<true/>
		<key>LogoutWarningSecs</key>
		<integer>600</integer>
		<key>NormalHours</key>
		<dict>
			<key>Day1</key>
			<dict>
				<key>CloseTime</key>
				<string>21:00</string>
				<key>OpenTime</key>
				<string>8:30</string>
			</dict>
			<key>Day2</key>
			<dict>
				<key>CloseTime</key>
				<string>21:00</string>
				<key>OpenTime</key>
				<string>8:30</string>
			</dict>
			<key>Day3</key>
			<dict>
				<key>CloseTime</key>
				<string>21:00</string>
				<key>OpenTime</key>
				<string>8:30</string>
			</dict>
			<key>Day4</key>
			<dict>
				<key>CloseTime</key>
				<string>21:00</string>
				<key>OpenTime</key>
				<string>8:30</string>
			</dict>
			<key>Day5</key>
			<dict>
				<key>CloseTime</key>
				<string>17:00</string>
				<key>OpenTime</key>
				<string>8:30</string>
			</dict>
			<key>Day6</key>
			<dict>
				<key>CloseTime</key>
				<string></string>
				<key>OpenTime</key>
				<string></string>
			</dict>
			<key>Day7</key>
			<dict>
				<key>CloseTime</key>
				<string></string>
				<key>OpenTime</key>
				<string></string>
			</dict>
		</dict>
		<key>UnrestrictedHoursOnClosedDays</key>
		<true/>
	</dict>
	<key>Name</key>
	<string>SystemOfficeHours</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
		<string>SystemPoll</string>
		<string>UserAtDesktop</string>
		<string>UserPoll</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>063F1C11-A516-4755-ACEB-D392A49D9298</string>
</dict>
</plist>
