<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Proxy</key>
		<array>
			<dict>
				<key>Process</key>
				<array>
					<string>/usr/sbin/ocspd</string>
				</array>
				<key>ProxyAddress</key>
				<string>PROXYADDRESS</string>
				<key>ProxyPort</key>
				<string>PROXYPORT</string>
				<key>ProxyProtocol</key>
				<string>http</string>
			</dict>
			<dict>
				<key>Process</key>
				<array>
					<string>/usr/sbin/ocspd</string>
				</array>
				<key>ProxyAddress</key>
				<string>PROXYADDRESS</string>
				<key>ProxyPort</key>
				<string>PROXYPORT</string>
				<key>ProxyProtocol</key>
				<string>htps</string>
			</dict>
		</array>
	</dict>
	<key>Name</key>
	<string>SystemGiveSystemProxyAccess</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>AAAF3098-F54C-40C7-A73B-777D10070310</string>
</dict>
</plist>
