<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Unload</key>
		<array>
			<string>/System/Library/LaunchDaemons/com.apple.UserNotificationCenter.plist</string>
		</array>
	</dict>
	<key>Name</key>
	<string>SystemUnloadAgentsAndDaemons</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>84517FCA-E07C-43B0-97FE-D78A299F3ABE</string>
</dict>
</plist>
