<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>WirelessState</key>
		<string>on</string>
	</dict>
	<key>Name</key>
	<string>SystemWirelessSetState</string>
	<key>TriggeredBy</key>
	<array>
		<string>Boot</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>F8FA4D74-79AE-41D4-918F-4F66C98D2AAB</string>
</dict>
</plist>
