<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>AutoProxy</key>
		<dict>
			<key>Enabled</key>
			<false/>
			<key>URL</key>
			<string></string>
		</dict>
		<key>FTPProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
		<key>GopherProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
		<key>ProxyAutoDiscovery</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>ProxyBypassDomains</key>
		<array>
			<string>*.local</string>
			<string>169.254/16</string>
			<string>127.0.0.1</string>
			<string>localhost</string>
		</array>
		<key>SOCKSProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
		<key>SecureWebProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
		<key>StreamingProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
		<key>WebProxy</key>
		<dict>
			<key>Address</key>
			<string></string>
			<key>Enabled</key>
			<false/>
			<key>Port</key>
			<integer>8080</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>SystemNetworkProxy</string>
	<key>TriggeredBy</key>
	<array>
		<string>NetworkUp</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>830922D0-2EB4-4391-B538-367B47A33221</string>
</dict>
</plist>
