<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>LoginMaxAgeDays</key>
		<integer>62</integer>
		<key>UserCacheEarliestEpoch</key>
		<integer>1462365175</integer>
	</dict>
	<key>Name</key>
	<string>SystemDeleteOldUserProfiles</string>
	<key>TriggeredBy</key>
	<array>
		<string>LoginWindowIdle</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>C8DEAF4D-19E5-47CD-8A5D-851D9848075C</string>
</dict>
</plist>
