<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Add</key>
		<array>
			<dict/>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Desktop</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Documents</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Downloads</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Movies</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Music</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Pictures</string>
			</dict>
		</array>
		<key>Remove</key>
		<array>
			<dict>
				<key>Label</key>
				<string>All My Files</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>iCloud</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>AirDrop</string>
				<key>URI</key>
				<string></string>
			</dict>
		</array>
		<key>Replace</key>
		<false/>
	</dict>
	<key>Name</key>
	<string>UserSidebarContent</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>5D984AF6-A28E-4B0C-B284-CE82D43225BF</string>
</dict>
</plist>
