<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Handler</key>
		<array>
			<dict>
				<key>BundleID</key>
				<string>com.apple.Safari</string>
				<key>Role</key>
				<string>all</string>
				<key>UTI</key>
				<string>public.html</string>
			</dict>
			<dict>
				<key>BundleID</key>
				<string>com.apple.Safari</string>
				<key>Role</key>
				<string>all</string>
				<key>UTI</key>
				<string>public.xhtml</string>
			</dict>
			<dict>
				<key>BundleID</key>
				<string>com.apple.Safari</string>
				<key>UTI</key>
				<string>http</string>
			</dict>
			<dict>
				<key>BundleID</key>
				<string>com.apple.Safari</string>
				<key>UTI</key>
				<string>https</string>
			</dict>
			<dict>
				<key>BundleID</key>
				<string>cx.c3.theunarchiver</string>
				<key>Role</key>
				<string>all</string>
				<key>UTI</key>
				<string>zip</string>
			</dict>
		</array>
	</dict>
	<key>Name</key>
	<string>UserDefaultHandlers</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>F6C775EE-09E0-45D1-A19F-A2C885409051</string>
</dict>
</plist>
