<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>DesktopWallpaperURI</key>
		<string>smb://YOURSERVER/YOURSHARE/YOURFOLDER/desktop.bmp</string>
	</dict>
	<key>Name</key>
	<string>UserDesktopWallpaperURI</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>9B0E3012-85F2-4C48-8F66-9FD9DF8A7591</string>
</dict>
</plist>
