<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>HomeIsLocal</key>
		<dict>
			<key>Path</key>
			<array>
				<string>/Desktop/</string>
				<string>/Documents/</string>
				<string>/Movies/</string>
				<string>/Music/</string>
				<string>/Pictures/</string>
			</array>
		</dict>
		<key>HomeIsOnNetwork</key>
		<dict>
			<key>Path</key>
			<array>
				<string>/Library/Application Support/audacity/.audacity.sock</string>
				<string>/Library/Application Support/CrashReporter/</string>
				<string>/Library/Caches/com.apple.helpd/</string>
				<string>/Library/Calendars/</string>
				<string>/Library/com.apple.nsurlsessiond/</string>
				<string>/Library/Containers/</string>
				<string>/Library/IdentityServices/</string>
				<string>/Library/Keychains/</string>
				<string>/Library/Logs/DiagnosticReports/</string>
				<string>/Library/Messages/</string>
			</array>
		</dict>
		<key>MakePathRedirections</key>
		<true/>
	</dict>
	<key>Name</key>
	<string>UserHomeMakePathRedirections</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserLogin</string>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>399889C9-FBE1-43F8-848F-462F4CE76CE1</string>
</dict>
</plist>
