<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>AddItem</key>
		<array>
			<string>file:///Applications</string>
			<string>file://HOMEDIR</string>
			<string>file://HOMEDIR/Desktop</string>
			<string>file://HOMEDIR/Documents</string>
			<string>file://HOMEDIR/Downloads</string>
			<string>file://HOMEDIR/Movies</string>
			<string>file://HOMEDIR/Music</string>
			<string>file://HOMEDIR/Pictures</string>
		</array>
		<key>DeleteItem</key>
		<array>
			<string>All My Files</string>
			<string>iCloud</string>
			<string>iCloud Drive</string>
			<string>AirDrop</string>
		</array>
	</dict>
	<key>Name</key>
	<string>UserSidebarList</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>FEAE1AF6-6AAE-4877-BA72-C16B614BDD76</string>
</dict>
</plist>
