<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Path</key>
		<array>
			<string>/Desktop/</string>
			<string>/Documents/</string>
			<string>/Downloads/</string>
			<string>/Library/Preferences/</string>
			<string>/Movies/</string>
			<string>/Music/</string>
			<string>/Pictures/</string>
		</array>
	</dict>
	<key>Name</key>
	<string>UserCreateFolder</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserLogin</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>7832C049-C785-4CC7-BF81-4D773CB732A7</string>
</dict>
</plist>
