<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>DesktopWallpaperURI</key>
		<string>smb://YOURSERVER/YOURSHARE/YOURFOLDER/desktop.bmp</string>
	</dict>
	<key>Name</key>
	<string>UserDesktopWallpaperURI</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>70A10866-B3B6-4652-8EFA-013E1A450521</string>
</dict>
</plist>
