<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Add</key>
		<array>
			<dict/>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR</string>
			</dict>
			<dict>
				<key>Label</key>
				<string></string>
				<key>URI</key>
				<string>file://HOMEDIR/Downloads</string>
			</dict>
		</array>
		<key>Remove</key>
		<array>
			<dict>
				<key>Label</key>
				<string>Mail</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Contacts</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Calendar</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Notes</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Reminders</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>Messages</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>FaceTime</string>
				<key>URI</key>
				<string></string>
			</dict>
			<dict>
				<key>Label</key>
				<string>App Store</string>
				<key>URI</key>
				<string></string>
			</dict>
		</array>
		<key>Replace</key>
		<false/>
	</dict>
	<key>Name</key>
	<string>UserDockContent</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserAtDesktop</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>818F082C-8348-44BB-BCBF-F0DE1E8A0CF1</string>
</dict>
</plist>
