<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Config</key>
	<dict>
		<key>Path</key>
		<array>
			<string>/Library/Application Support/audacity/.audacity.sock</string>
			<string>/Library/Application Support/CrashReporter/</string>
			<string>/Library/Caches/com.apple.helpd/</string>
			<string>/Library/Calendars/</string>
			<string>/Library/com.apple.nsurlsessiond/</string>
			<string>/Library/Containers/</string>
			<string>/Library/IdentityServices/</string>
			<string>/Library/Keychains/</string>
			<string>/Library/Logs/DiagnosticReports/</string>
			<string>/Library/Messages/</string>
		</array>
	</dict>
	<key>Name</key>
	<string>UserRedirNetworkHomeToLocal</string>
	<key>TriggeredBy</key>
	<array>
		<string>UserLogin</string>
	</array>
	<key>Type</key>
	<string>Policy</string>
	<key>UUID</key>
	<string>1BD9E287-40FE-4A8A-80D6-11B9B64E833A</string>
</dict>
</plist>
